@model List<ImageApp.Data.Model.CategoryModel>

@{
    ViewData["Title"] = "Kategori Liste";
}
<div class="col-xl-10 col-sm-12 mx-auto ">
    <h3 class="text-center mb-4">Kategori Liste</h3>
    <div class="overflow-auto">

        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th width="50"></th>
                    <th scope="col">Kategori Adı</th>
                    <th scope="col">Oluşturulma Tarihi</th>
                    <th scope="col">Düzenlenme Tarihi</th>
                    <th width="200">Üst Kategorisi</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var category in Model)
                {
                    <tr>
                        <td width="50">
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a href="@Url.Action("EditCategory","Category",new {id=category.Id })" class="btn btn-light"><i class="far fa-edit"></i></a>
                                <button type="button" class="btn btn-light"><i class="far fa-trash-alt"></i></button>
                            </div>
                        </td>
                        <td>@category.CategoryName</td>
                        <td>@category.CreateDate</td>
                        <td>@category.UpdateDate</td>
                        <td width="200">@category.ParentCategory</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>
